
body {
    font-family: "Gotham A", "Gotham B", Helvetica,sans-serif !important;
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;

}

h1, h2, h3 , h4{
  /*color: #fff;*/
  line-height: 1.45;
  letter-spacing: 0.02em;
  font-weight: 100;
}

.reverse{
  /*color:white;*/
}
.blank-list{
  /*color:white;*/
}
.blank-list > li{list-style: none;}

h1, h2, h3, h5 {
  font-family: "Gotham A", "Gotham B", Helvetica,sans-serif !important;
}

.icons {
  color: #d5c5a1;
}

.hero {
  text-align: center;
  padding-top: 20%;
  color: #fff;
}

.hero h3 {
  font-weight: 300;
  font-size: 1.5em;

}

.hero p {
  font-weight: 300;
  letter-spacing: 0.02em;

}


#crumb {
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;

}

#logo {
  float: left;
  max-width: 250px;
}
.btn {
  font-family: "Gotham A", "Gotham B", Helvetica,sans-serif !important;
  color: #438c8c;
  width: 100%;
  padding: 10px 20px;
  border-radius: 0px;
  border: 0px;
  max-width: 300px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 50px; }

.zone1, #location * .glyph-items {
  position: relative;
  z-index: 1; }

.zone2 {
  position: relative;
  z-index: 2; }

.zone3 {
  position: relative;
  z-index: 3; }

.zone4, #trees * #trees-campfire {
  position: relative;
  z-index: 4; }

.disappear {
  opacity: 0; }

section {
  background-size: 100%;
  padding: 20px;
  background-size: cover;
  background-position: bottom; 
  background-color: #8ACACA;
}

#intro {
  background-color: #5f9c86;
  background-size: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  border-bottom: 1px solid #fff;
  background-image: url("../img/bg/nest-background-green.png");
}

#about {
  background-color: #ede1c5;
  color: #737a77;
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #fff;
}


#about h3 {
  color: #666;
  font-weight: 200;
}

#about p {
  color: #666;
  font-weight: 200;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
}

#prop {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

#imagery {
  padding: 50px 0px;
  background-image: url("../img/bg/rails.jpg");
  background-color: #1a3636;
  border-bottom: 1px solid #fff;
  color:#fff;
  overflow: hidden; }
  #two * #trees-campfire {
    max-width: 400px; }
  #two #trees-ground {
    width: 100%;
    min-width: 1200px;
    margin-top: -300px; }

#plans {
  background-color: #FFFDF7;
  color:#5D533E;
  border-bottom: 1px solid #fff;
   }
   #plans * p{
    color:#C5A761;
    font-size: 18px;
   }
  #plans * .row {
    margin-bottom: 0; }
    #plans * .row .col-xs-4 {
      width: 50%;
      padding: 0px;
      margin: 0% -10%; }
  #plans * .tribesPeople {
    width: 100%;
    margin-top: 75px;
    margin-bottom: -20px; 
  }

.embed-container { 
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
 } 

 .embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  -webkit-filter: sepia(50%); /* Chrome, Safari, Opera */
    filter: sepia(50%);     
    }
#map{
/*  -webkit-filter: grayscale(100%);
/*    filter: grayscale(100%); */
/*  -webkit-filter: sepia(100%);  
    filter: sepia(100%); */    
  /*-webkit-filter: brightness(100%); /* Chrome, Safari, Opera */*/
    /*filter: brightness(100%);      */
    /*opacity: .5;*/
}
#location {
  background-color: #ede1c5;
  color: #737a77;
  border: solid 1px #fff; }
  #location * #pharoah {
    margin-top: 0;
    margin-bottom: 0;
    z-index: 5; }
  #location * .glyph-items {
    fill: #dd851d;
    -webkit-animation-name: glow;
    -moz-animation-name: glow;
    animation-name: glow;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
@-webkit-keyframes glow {
  from {
    fill: #dd851d; }
  to {
    fill: #e8a24f; } }
@-moz-keyframes glow {
  from {
    fill: #dd851d; }
  to {
    fill: #e8a24f; } }
@keyframes glow {
  from {
    fill: #dd851d; }
  to {
    fill: #e8a24f; } }
#visit {
  padding: 0;
  background-color: #FFFDF7;
  color:#5D533E;
  overflow: hidden;
  border: solid 1px #fff;
  /*background-image: url("../img/bg/treesBack.png"), -webkit-linear-gradient(#112525 0, #1a3636 100%);*/
  /*background-image: url("../img/bg/treesBack.png"), linear-gradient(to   , #1a3636 100%); */
  }
  #visit * #visitvisit {
    margin-left: -100px;
    width: 100%;
    max-width: 1000px; }
  #visit #visit-ground {
    width: 100%;
    min-width: 1200px;
    margin-top: -300px; }


#cta {
  background-image: url("../img/bg/nest-background-green.png");
  background-color: #609d88;
  color:#fff; 
  border: solid 1px #fff;}


#footer{
  background-color: #717876;
  color:#fff;
}
#footer * .btn-default{
  background-color: transparent;
  border: solid 2px #fff;
  margin-top: 20px;
  color:#fff;
  transition: .75s;
  font-weight: 400;
}
#footer * .btn-default:hover{
  background-color: #fff;
  border: solid 2px #fff;
  margin-top: 20px;
  color: #717876;

}

/* Overides the standard button */
.highlight{
  background-color: #cf6b4d;
  border: solid 1px #fff;
  color:#fff;
  transition:.75s;
}
.highlight:hover{
  background-color: #eb6840;
  border: solid 1px #fff;
  color:#fff;  
}


@media (max-width: 767px) {
  .btn {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
