
body {
    font-family: "Gotham A", "Gotham B", Helvetica,sans-serif !important;
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;

}

h1, h2, h3 , h4{
  color: #fff;
  line-height: 1.45;
  letter-spacing: 0.02em;
}

.reverse{
  color:white;
}
.blank-list{
  color:white;
}
.blank-list > li{list-style: none;}

h1, h2, h3, h5 {
  font-family: "Gotham A", "Gotham B", Helvetica,sans-serif !important;
}

.icons {
  color: white;
}

.hero {
  text-align: center;
  padding-top: 20%;
  color: #fff;
}

.hero h3 {
  font-weight: 300;
  font-size: 1.5em;

}

.hero p {
  font-weight: 300;
  letter-spacing: 0.02em;

}


#crumb {
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;

}

#logo {
  float: left;
  max-width: 250px;
}
.btn {
  font-family: "Gotham A", "Gotham B", Helvetica,sans-serif !important;
  color: #438c8c;
  width: 100%;
  padding: 10px 20px;
  border-radius: 0px;
  border: 0px;
  max-width: 300px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 50px; }

.zone1, #egypt * .glyph-items {
  position: relative;
  z-index: 1; }

.zone2 {
  position: relative;
  z-index: 2; }

.zone3 {
  position: relative;
  z-index: 3; }

.zone4, #trees * #trees-campfire {
  position: relative;
  z-index: 4; }

.disappear {
  opacity: 0; }

section {
  background-size: 100%;
  padding: 20px;
  background-size: cover;
  background-position: bottom; 
  background-color: #8ACACA;
}

#intro {
  background-image: url("../img/bg/nest-background-sky.jpg");
  background-color: #ccc;
  background-size: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  border-bottom: 1px solid #fff;

}

#about {
  background-color: #f2f2f2;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #666;
  border-bottom: 1px solid #fff;
}


#about h3 {
  color: #666;
  font-weight: 200;
}

#about p {
  color: #666;
  font-weight: 200;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
}

#prop {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

#two {
  padding: 0;
  background-image: url("../img/bg/rails.jpg");
  background-color: #1a3636;
  overflow: hidden; }
  #two * #trees-campfire {
    max-width: 400px; }
  #two #trees-ground {
    width: 100%;
    min-width: 1200px;
    margin-top: -300px; }

#plans {
  background-color: #112525; }
  #plans * .row {
    margin-bottom: 0; }
    #plans * .row .col-xs-4 {
      width: 50%;
      padding: 0px;
      margin: 0% -10%; }
  #plans * .tribesPeople {
    width: 100%;
    margin-top: 75px;
    margin-bottom: -20px; }

#egypt {
  background-color: black; }
  #egypt * #pharoah {
    margin-top: 0;
    margin-bottom: 0;
    z-index: 5; }
  #egypt * .glyph-items {
    fill: #dd851d;
    -webkit-animation-name: glow;
    -moz-animation-name: glow;
    animation-name: glow;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
@-webkit-keyframes glow {
  from {
    fill: #dd851d; }
  to {
    fill: #e8a24f; } }
@-moz-keyframes glow {
  from {
    fill: #dd851d; }
  to {
    fill: #e8a24f; } }
@keyframes glow {
  from {
    fill: #dd851d; }
  to {
    fill: #e8a24f; } }
#moses {
  padding: 0;
  overflow: hidden;
  background-image: url("../img/bg/treesBack.png"), -webkit-linear-gradient(#112525 0, #1a3636 100%);
  background-image: url("../img/bg/treesBack.png"), linear-gradient(to   , #1a3636 100%); }
  #moses * #mosesMoses {
    margin-left: -100px;
    width: 100%;
    max-width: 1000px; }
  #moses #moses-ground {
    width: 100%;
    min-width: 1200px;
    margin-top: -300px; }

#today {
  background-image: url("../img/bg/todayBack.png");
  background-image: url("../img/bg/todayBack.png");
  background-color: #dd4e1d;
  padding: 40vh 0; }

#newscaster * #newscastMan {
  margin-top: 10px;
  margin-bottom: -180px;
  z-index: 5; }
#newscaster * #newscastTV {
  width: 100%;
  max-width: 1200px; }

#ceos {
  background-color: #112525; }
  #ceos * .row {
    margin-bottom: 0; }
    #ceos * .row .col-xs-4 {
      width: 51%;
      padding: 0px;
      margin: 0% -10%; }
  #ceos * .ceos {
    width: 100%;
    margin-bottom: -20px; }
  #ceos * .logos {
    width: 100%;
    max-width: 80px;
    opacity: 0.5; }

#you {
  padding: 40vh 0;
  background-image: url("../img/bg/treesBack.png"), -webkit-linear-gradient(#112525 0, #1a3636 100%);
 }

#end {
  background-image: url("../img/bg/treesBack.png"), -webkit-linear-gradient(#112525 0, #1a3636 100%);
  background-image: url("../img/bg/treesBack.png"), linear-gradient(to   , #1a3636 100%);
  background-color: #1a3636;
  background-repeat: no-repeat;
  background-size: 100%; }

#cta {
  background-image: url("../img/bg/todayBack.png");
  background-image: url("../img/bg/todayBack.png");
  background-color: #438c8c; }

@media (max-width: 767px) {
  .btn {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
